@charset "UTF-8";
/* Custom Properties */
/* ----------------  */
:root {
  --neutral-900: hsl(0 0% 0%);
  --neutral-400: hsl(0 0% 75%);
  --neutral-0: hsl(0 100% 100%);
  --navy-950: hsl(216 53% 9%);
  --navy-900: hsl(218 28% 13%);
  --navy-850: hsl(217 28% 15%);
  --navy-800: hsl(219 30% 18%);
  --navy-50: hsl(222 36% 91%);
  --blue-300: hsl(177 67% 63%);
  --blue-250: hsl(186 61% 72%);
  --red-500: hsl(0 100% 63%);
  --gradient: linear-gradient(
  	90deg,
  	hsl(175 68% 64%) 0%,
  	hsl(198 60% 50%) 100%
  );
  --fs-600: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  --fs-500: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
  --fs-400: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;
  --fs-100: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
  --fs-50: 0.4375rem;
  --ff-sans-accent: 'Raleway', sans-serif;
  --ff-sans-normal: 'Open Sans', sans-serif;
  --fw-700: 700;
  --fw-400: 400;
  /* Text Presets as CSS Variables */
  --font-1: var(--fw-700) var(--fs-600)/1.2 var(--ff-sans-accent);
  --font-2: var(--fw-700) var(--fs-500)/1.2 var(--ff-sans-accent);
  --font-3: var(--fw-700) var(--fs-400)/1.2 var(--ff-sans-accent);
  --font-4: var(--fw-700) var(--fs-300)/1.2 var(--ff-sans-accent);
  --font-5: var(--fw-700) var(--fs-200)/1.2 var(--ff-sans-accent);
  --font-6: var(--fw-400) var(--fs-500)/1.5 var(--ff-sans-normal);
  --font-7: var(--fw-400) var(--fs-400)/1.5 var(--ff-sans-normal);
  --font-8: var(--fw-400) var(--fs-300)/1.5 var(--ff-sans-normal);
  --font-9: var(--fw-400) var(--fs-100)/1.8 var(--ff-sans-normal);
  --font-10: var(--fw-400) var(--fs-50)/1.5 var(--ff-sans-normal);
  --spacing-1400: 7rem;
  --spacing-1300: 6.5rem;
  --spacing-1200: 6rem;
  --spacing-1100: 5.5rem;
  --spacing-1000: 5rem;
  --spacing-900: 4.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.625rem;
  --spacing-100: 0.5rem;
  --spacing-0: 0rem;
  --radius-full: 999px;
  --radius-28: 28px;
  --radius-24: 24px;
  --radius-20: 20px;
  --radius-16: 16px;
  --radius-12: 12px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;
  --radius-4: 4px;
  --radius-0: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom Properties */
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--navy-900);
  font: var(--font-7);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.full-width {
  max-width: 100vw;
  width: 100vw;
  margin: calc(-50vw + 50%);
}

/* Typography */
.fw-700 {
  font-weight: var(--fw-700);
}

.fw-400 {
  font-weight: var(--fw-400);
}

h1 {
  font: var(--font-1);
}

h2 {
  font: var(--font-2);
}

h3 {
  font: var(--font-3);
}

h4 {
  font: var(--font-4);
}

.nav-logo {
  width: 100px;
  height: auto;
}

.header {
  background-color: rgba(27, 20, 20, 0.92);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
  color: white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2rem;
}

.menu-btn {
  display: none; /* Show hamburger button on mobile */
  color: white;
}

.menu-btn {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: auto;
  z-index: 2000;
  margin-top: -0.3em;
}

.nav__list {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  top: 0;
  right: -100%; /* hidden off screen */
  width: 100%;
  height: 100vh;
  background: rgb(27, 20, 22);
  transition: right 0.3s ease;
  font: var(--font-2);
  color: var(--neutral-0);
}

.nav__list .nav__items {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.nav__list.open {
  right: 0; /* slide in */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav__list__item a {
  color: var(--neutral-900);
  font-weight: var(--fw-400);
}

.nav__list__item {
  margin-left: 10px;
  font-size: 1.1rem;
}

.nav__items__links {
  text-decoration: none;
  color: var(--neutral-0);
  font: var(--font-5);
  position: relative;
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

.hero {
  background: var(--navy-850);
  padding: var(--spacing-500) 0 var(--spacing-1000) 0;
}

.info__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
  text-align: center;
  padding: 0 var(--spacing-500);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: var(--spacing-600);
  position: relative;
  z-index: 2;
}

.title_hero {
  font: var(--font-1);
  color: var(--neutral-0);
  margin-bottom: 1em;
}

.hero_text {
  font: var(--font-8);
  color: var(--neutral-0);
}

.btn {
  padding: clamp(0.9rem, 1vw, 1rem) clamp(1.2rem, 3vw, 2.5rem);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-24);
  font: var(--font-4);
  color: var(--neutral-0);
  margin: 2em auto 0;
  background: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  margin-top: 2em;
  width: 100%;
  max-width: 400px;
  z-index: 0;
  overflow: hidden;
}

.btn-primary {
  margin-bottom: 5em;
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #90eae4 0%, #5cb1d6 100%);
  opacity: 1;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover::before {
  transform: scaleX(1);
  opacity: 1;
  transform-origin: right;
}

.features__wrapper {
  position: relative;
  background-color: var(--navy-900);
  z-index: 1;
  color: var(--neutral-0);
  display: grid;
  gap: var(--spacing-900);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 2em;
}

.features__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 190px;
  background: url("../assets/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  position: top center;
  background-size: cover;
  transform: translateY(-99%);
  z-index: 0;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-0);
}

.features .icon-title {
  font: var(--font-2);
  margin-bottom: var(--spacing-200);
  text-align: center;
}

.features .icon-text {
  font: var(--font-8);
  text-align: center;
}

.info-flex {
  margin-top: var(--spacing-1000);
}

.info-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-300);
  padding: var(--spacing-500) 0;
}

.info-content .image__info {
  display: flex;
  justify-content: center;
}

.info-content .title_info {
  font: var(--font-1);
  color: var(--neutral-0);
  text-align: center;
}

.info-content .info_text {
  font: var(--font-8);
  text-align: center;
  color: var(--neutral-0);
}

.info_text {
  margin-bottom: 2em;
}

.link__works {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font: var(--font-9);
  color: var(--blue-300);
  text-align: left;
  cursor: pointer;
}

.link__works::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: clamp(47px, 40%, 120px);
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease;
}

.link__works:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.link__works::after {
  content: " →";
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.link__works:hover::after {
  transform: translateX(5px);
}

.testimonial__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  padding: var(--spacing-500) 0 var(--spacing-1400) 0;
  margin-bottom: var(--spacing-1200);
}

.testimonials__section {
  color: var(--neutral-0);
  background-color: var(--navy-800);
  padding: var(--spacing-300);
  box-shadow: 5px 5px 13px rgba(255, 255, 255, 0.04);
}

.testimonials_profile {
  border-radius: var(--radius-full);
  width: 20px;
  height: 20px;
}

.profile__name {
  font: var(--font-9);
  font-weight: 900;
}

.job__profile {
  font: var(--font-10);
  margin-top: 0;
}

.image_testimonials {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.testimonials-text {
  font: var(--font-9);
  display: inline-block;
}

.namejob__testimonials {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 650px) {
  .menu-btn {
    display: none;
  }
  .nav__list {
    display: flex;
    position: static;
    flex-direction: row;
    height: auto;
    background: none;
    width: auto;
    padding-top: 0;
  }
  .mobile-logo {
    display: none;
  }
}
@media only screen and (min-width: 930px) {
  .info__hero {
    max-width: 600px;
    margin: 0 auto;
  }
  .info-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .content__info {
    padding: 0 var(--spacing-500);
    align-items: left;
    text-align: left;
  }
  .testimonial__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .info-content .title_info,
  .info-content .info_text {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .info__hero {
    max-width: 600px;
    margin: 0 auto;
  }
  .features__wrapper::before {
    image-rendering: auto;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: url("../assets/images/bg-curvy-desktop.svg") no-repeat top center;
    background-size: cover;
    transform: translateY(-100%);
    z-index: 0;
  }
}
.form__section {
  background-color: var(--navy-850);
  margin-top: var(--spacing-1000);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  margin: -150px auto 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.form__details {
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.form__title {
  font: var(--font-2);
  color: var(--neutral-0);
  text-align: center;
}

.form__text {
  font: var(--font-8);
  color: var(--neutral-0);
  text-align: center;
}

input {
  padding: var(--spacing-200) var(--spacing-1000) var(--spacing-200) var(--spacing-1000);
  border-radius: var(--radius-24);
  border: none;
  cursor: pointer;
  font: var(--font-4);
  color: var(--neutral-400);
  background-color: var(--neutral-0);
  width: 100%;
}

.footer__container {
  background-color: var(--navy-950);
  padding: var(--spacing-1400) 0 0 0;
  color: var(--neutral-0);
  position: relative;
}

.wrapper__content {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--spacing-1400) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-700);
  color: var(--neutral-0);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.location__image, .tel__text, .email__text {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  text-align: center;
}

.footer__nav ul {
  display: flex;
  gap: var(--spacing-500);
  flex-wrap: wrap;
  justify-content: center;
}

.footer__nav ul li a {
  color: var(--neutral-0);
}

.footer_socials {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-300);
}

.footer_socials a {
  gap: var(--spacing-300);
  border: 1px solid var(--neutral-400);
  border-radius: var(--radius-full);
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms ease-in, color 250ms ease-in;
}

.footer_socials a:hover {
  border-color: var(--blue-250);
  color: var(--blue-250);
  text-shadow: 0 0 0.9px var(--neutral-0), 0 0 0.9px var(--neutral-0), 0 0 0.9px var(--neutral-0);
}/*# sourceMappingURL=index.css.map */